#navbar img {

    width: 200px;
}
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
}
#navbar {
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input {
    width: 100%;
    height: 30px;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
}

#navbar>div:nth-of-type(1) {
    display: flex;
    /* border: 1px solid; */
    width: 65%;
    height: 30px;
}

button {
    width: 40px;
    height: 36px;
    background-color: red;
    border: none;
    margin-left: 0px;
    border-top-right-radius: 4px;
    border-end-end-radius: 4px;
}

p {
    margin-top: 0px;
    font-size: 14px;
}

#navbar>div:nth-of-type(2) {
    /* border: 1px solid; */
    text-align: center;
    /* width: 40px; */

}

svg {
    text-align: center;
    margin-top: 10px;
}

#ship {
    border-bottom: 1px solid #dadcdf;
    margin: 1px;
}

#ship {
    margin: 0px;
    display: flex;
    gap: 7px;
    padding: 3px;
    background-color: #f9fafb; 
}

#ship img {
    width: 28px;
    height: 20px;
    border-radius: 7px;
    margin-top: 10px;
}

#ship p {
    margin-top: 10px;
}
#navbaritems > ul {
    display: flex;
    justify-content: space-around;
    display: flex;
    /* list-style-type: none; */
}
#navbaritems{
    /* display: flex; */
   border-bottom: 1px solid #dadcdf;
   border-top: 1px solid #dadcdf;
    height: 45px;
    /* align-items: center; */
}
a{
    text-decoration: none;
    color: black;
    font-size: 14px;
} 
.dropdown a:hover {
   border-bottom: 1px solid black;
   
  }
a {
  text-decoration: none;
}

nav {
	font-family: Arial, Helvetica, sans-serif;
}

ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

li {
	display: block;
	float: left;
	padding: 1rem;
	position: relative;
	text-decoration: none;
  transition-duration: 0.5s;
}
  
li a {
  color:black;
}

li:hover {
	cursor: pointer;
}

ul li ul {
	 background-color:#f9fafb ;
	visibility: hidden;
  opacity: 0;
   min-width: 13rem; 
	position: absolute;
  transition: all 60s ease-in;
  margin-top: 1rem;
	left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  
}

ul li ul li {
	clear: both;
  width: 100%;
}